<h3 class = "title"><%= l(:title_delete_permission) %></h3>

<p><%= l(:label_delete_all_permissions_question, :user => link_to_user(User.find(user_id))) %></p>

<p class="buttons_to_destroy_wpps">
  <%= link_to_remote(l(:label_delete_all_permissions_yes), { 
                  :url => {
                    :controller => 'delegate_permissions',
                    :action => 'destroy_following_wpps',
                    :id => @deleted_dp_id,
                    :project_id => @project.id } },
                :onclick => "hideModal(this);",
                :class => "button_ok" ) %>
  <%= link_to_remote(l(:label_delete_all_permissions_no), { 
                  :url => {
                    :controller => 'delegate_permissions',
                    :action => 'update_following_wpps',
                    :id => @deleted_dp_id,
                    :project_id => @project.id } },
                :onclick => "hideModal(this);" ) %>
</p>
