<div class="tabs">
  <% dp_tabs = [{:name => 'permitted', :partial => 'delegate_permissions/sidebar_for_add_permitted', :label => :label_add_permitted},
                {:name => 'banned', :partial => 'delegate_permissions/sidebar_for_add_banned', :label => :label_add_banned}] %>
  <% selected_tab = params[:dp_tab] ? params[:dp_tab].to_s : dp_tabs.first[:name] %>
  <ul>
    <% dp_tabs.each do |tab| -%>
      <% unactive_tab = (dp_tabs - [tab]).first %>
      <li><%= link_to_function  l(tab[:label]), "
                                      $('#tab-#{unactive_tab[:name]}').removeClass('selected');
                                      $('#tab-#{tab[:name]}').addClass('selected');
                                      $('#tab-content-#{unactive_tab[:name]}').hide();
                                      $('#tab-content-#{tab[:name]}').show();
                                      ",
                                      :id => "tab-#{tab[:name]}",
                                      :class => (tab[:name] != selected_tab ? nil : 'selected')
                                        %></li>
    <% end -%>
  </ul>
</div>

<% dp_tabs.each do |tab| -%>
  <%= content_tag('div', render(:partial => tab[:partial], :locals => {:dp_tab => tab} ),
                       :id => "tab-content-#{tab[:name]}",
                       :style => (tab[:name] != selected_tab ? 'display:none' : nil),
                       :class => 'tab-content') %>
<% end -%>

