<h2><%= l(:head_wiki_rights) %></h2>

<%= render :partial => 'wiki_permissions/permissions_content' %>

<% content_for :sidebar do %>
    <%= render :partial => 'wiki_permissions/sidebar' %>
<% end %>